@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
}

#movies img,
#movie img {
  width: 100%;
}
.brand-text {
  font-size: 2rem;
}
#react-logo {
  color: #00d8ff;
}
@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}
